@model Crud_EntityFramework.Models.Computadores

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Computadores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa_Mae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa_Mae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memória)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memória)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPratrimonio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPratrimonio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_compra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_compra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
