@model IEnumerable<Crud_EntityFramework.Models.Computadores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa_Mae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memória)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPratrimonio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_compra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa_Mae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memória)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPratrimonio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_compra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
